body{
    background-color: ivory;
    color: lawngreen;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
main{

    text-align: center;
}
div {
    width: 40%;
    height: 20%;
    background: yellow;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid black;
}